<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
            rel='stylesheet'>
    </head>
    <body>
        <div id="main">
            <div class="nav">
                <div class="logo"><img
                        src="./White And Pink Simple Cake Shop Logo.png"
                        height="175px" width="175px"></div>
                <div class="links">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">about us</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="shop.html"><i
                                    class='bx bxs-shopping-bag'></i><button
                                    class="shop">Our Shop</button></a></li>
                    </ul>
                </div>
            </div>
            <div class="hero">
                <img src="./xyz.png">
                <div class="type">
                    <p class="T">S.K. BAKERY</p>
                </div>
                <img src="./cakes.png" class="cake">
            </div>
           
<div class="hey">
<a href="shop.html"><button class="button-54" role="button">VISIT OUR SHOP!</button></a>
</div>



        </div>
    </body>
</html>