@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#main{
    background: rgb(255, 228, 196);
    height: 100vh;
    width: 100vw;
}

.nav{
    background-color: rgba(255, 255, 255, 0.416);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px 0px 25px;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.links ul{
    display: flex;
    gap:  50px;
    align-items: center;
}

.bx{
    padding-right: 10px;
    padding-top: 0px;
}

.shop{
    font-size: 20px;
    background-color: #000;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 12px;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
}

.hero{
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 500px;
}

.cake{
    margin: 0px 15px;
}

/* CSS */
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: rgb(251, 225, 172);
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }

.hey{
    width: 25%;
    display: flex;
    justify-content: center;
}

.text{
    display:  inline-block;
    
}

.T{
    font-size: 4em;
    letter-spacing: 10px;
    font-family: monospace;
    text-align: center;
    /* border-right: 4px solid; */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(11),
    cursor .4s step-end infinite alternate;
    text-decoration: dashed;
    padding: 50% 0 50% 80px;
    font-weight: 600;
}

@keyframes cursor {
    50% { border-color: transparent}
}



@keyframes typing {
    from { width: 0; }
}

.heading{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-size: xx-large;
    letter-spacing: 5px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 20px;
    padding: 35px 25px 0 25px;
}

.first, .second, .third{
    border: 1px solid #000;
    height: 300px;
    background-color: #ffffff ;
    border-radius: 25px;
    box-shadow: 5px 10px 20px rgba(79, 79, 79, 0.4);
}

.first{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.second{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}

.third{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.poi{
    margin-top: 125px;
    background-color: rgb(250, 227, 162);
    border: none;
    border-radius: 12px;
    font-size: 17.5px;
    max-height: fit-content;
    max-width: fit-content;
    padding: 5px;
    font-family: "QuickSand",sans-serif;
    font-weight: bold;
}


.yeh{
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.min{
    height: 40vh;
    width: 50vw;
    min-height: 40vh;
    max-height: fit-content;
    background-color: lightblue;
    border-radius: 50px;
    border: 2px solid #000;
    text-align: center;
    font-family: "QuickSand", sans-serif;
    padding: 40px;
}

#cart-items{
    padding: 25px 0px;
}

.con{
    border: 1px solid #000;
    background-color: rgb(250, 222, 234);
    margin: auto auto;
    text-align: center;
    border-radius: 25px;
    height: 30vh;
    width: 50vw;
    font-family:"QuckSand", sans-serif; 
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    overflow: hidden;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}


.he{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.he h2{
    border: 1.5px solid black;
    background-color: rgb(250, 222, 234);
    padding: 10px;
    border-radius: 40px;
    font-family: "QuickSand";
}

.po{
    border: 1px solid black;
    width: 350px;
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 25px;
    background-color: rgb(250, 222, 234);
}

.PO{
    width: 350px;
    margin: 50px;
}

.DS{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    background-color: rgb(251,225,172);
    display: flex;
    justify-content: center;
    margin: 20px 35%;
    padding: 0px 10px;
    border: 1px solid black;
    border-radius: 50px;
    align-items: center;
    height: 450px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.ema{
    padding: 15px 10px;
}

.nam{
    width: 350px;
    height: 35px;
    padding-left: 10px;
    border-radius: 17px;
    border: 1px solid;
    background-color: rgb(255,228,196);
    font-family: "QuickSand";
}

.eml{
    width: 350px;
    height: 35px;
    padding-left: 10px;
    border-radius: 17px;
    border: 1px solid;
    background-color: rgb(255,228,196);
    font-family: "QuickSand";
}

.msg{
    width: 350px;
    height: 75px;
    padding-left: 10px;
    border-radius: 25px;
    border: 1px solid;
    background-color: rgb(255, 228 , 196);
    font-family: "QuickSand"
}

.emas{
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    font-family: "QuickSand";
}

.sbm{
    padding: 8px 14px;
    border-radius: 10px;
    border: 1px solid;
    background-color: rgb(255, 228, 196);
    font-family: "QuickSand";
}